{% macro recaptcha(class) %}
    <div
        class="{{ class }}"
        data-badge="inline"
        data-callback="formSubmit"
        data-sitekey="6LcLL-IUAAAAAPmlqz02iC-IqV4qy5KmRlhcwLDF"
        data-size="invisible">
    </div>
{% endmacro %}